{erl_opts, [debug_info]}.
{deps, [
    %% Use cowboy as a web framework
    {cowboy, "2.12.0"},
    %% JSON parsing library
    {jsx, "3.1.0"}
]}.

{plugins, [
    erlfmt
]}.

{relx, [
    {release, {taskord, "0.1.0"}, [
        taskord,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]},
    {shell, [
        {relx, [
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"}
        ]}
    ]}
]}.
