[
  {kernel, [
    {logger_level, info},
    {logger, [
      %% Console handler (default)
      {handler, default, logger_std_h,
        #{level => info,
          formatter => {logger_formatter, #{
            single_line => false,
            template => [time, " [", level, "] ", pid, " ", mfa, ":", line, " - ", msg, "\n"]
          }}
        }
      }
    ]}
  ]},
  
  {taskord, [
    {http_port, 2025},
    {log_requests, true}
  ]}
].